.joke-card {
    width: 18rem;
    height: 20rem;
    margin: 2rem;
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;

    position: relative;
    transition: transform 300ms ease-in-out;
    transform-style: preserve-3d;
    background-color: $bg-light;

    &.is-flipped {
        transform: rotateY(180deg);
    }

    .card-face {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);

        position: absolute;
        overflow: hidden;
        backface-visibility: hidden;
    }

    .card-front {
        background: url('../images/the-office.png') no-repeat bottom;
        background-size: contain;
        padding: 1rem;

        .placeholder {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .card-back {
        background: url('../images/salt-bae.png') no-repeat bottom;
        background-size: 35%;
        background-position: bottom 100% right 10%;
        transform: rotateY(180deg);

        color: $text-dark;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1rem;
        display: flex;
        align-items: center;

        p {
            margin-top: 2rem;
            &::before {
                content: "#";
                color: $accent-color;
                font-size: 1.75rem;
                margin-right: 0.5rem;
            }
        }
    }
}